.sidebar {
  position: fixed;
  font-size: 25px;
  text-align: center;
  top: 100px; /* height left from top to be under Navbar */
  left: 0;
  width: 200px;
  height: calc(100% - 60px);
  background-color: #242424;
  padding: 1rem;
  border-right: 2px solid white;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.sidebar-item {
  padding: 2rem;
  margin-top: 20px;
  margin-bottom: 0.5rem;
  color: white;
  cursor: pointer;
  border-radius: 8px;
}

.sidebar-item:hover {
  background-color: #333;
}
/* .sidebar-item.active {
  background-color: #333;
} */
